@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to HUB!</h1>
    <p>Your music world, simplified. Explore new features, manage your playlists, and enjoy curated music with ease.</p>
    <hr class="my-4">
    <p>Navigate through the menu to discover all that HUB has to offer.</p>
</div>
